.*lock*
.idea
.project
output
docbook.xsd
lib/*.zip
lib/**/*.zip
lib/fop-1.1
lib/docbook-*-rwdalpe
lib/docbook-xsl-java*
lib/tools/*calabash*
lib/asciidoctor*
lib/jing*
lib/prepared_catalog.xml
src/**/img/
fontconfig
*.xpr
~*
*~
