/* http://paletton.com/#uid=53N0u0ktr+BhxZWnD+tHU+8XULF */
@import url(https://fonts.googleapis.com/css?family=Trade+Winds|Bubblegum+Sans|Cinzel+Decorative:400,700,900|Forum|Maiden+Orange|Averia+Serif+Libre:400,700|New+Rocker|Metal+Mania);

@media screen {
  html {
    font-family: Helvetica, Arial, sans-serif;
  }
  div.titlepage .title {
    font-family: 'Averia Serif Libre', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  div.authorgroup {
    font-size: .8em;
  }
  h3.author {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 0px;
  }
  div.legalnotice {
    font-size: .8em;
  }
  p.pubdate {
    font-size: .8em;
  }
  dl.toc {
    font-size: .8em;
  }
  dl.toc dd {
    margin-left: 1.2em;
  }
  div.sidebar {
    padding: .25em;
    border: 1px solid #000000;
    background: #cccccc;
  }
  div.sidebar p.title {
    margin-top: 0px;
  }
  div.sidebar p:last-child {
    margin-bottom: 0px;
  }
  a {
    color: #2E64FE;
  }
  a:visited {
    color: #652EFE;
  }
}

@viewport {
    zoom: 1.0;
    width: device-width;  
    initial-scale: 1;
}
@-viewport {
    zoom: 1.0;
    width: device-width;
    initial-scale: 1;  
}
@-ms-viewport {
    zoom: 1.0;
    width: device-width;
    initial-scale: 1;  
}