@media screen {
  .slicknav_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 1.625em;
    max-height: 60%;
  }
  .slicknav_btn {
    top: 0px;
    right: 5px;
    z-index: 2;
  }
  .slicknav_nav {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: .5em;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto !important;
  }
  .slicknav_menu a {
    color: #FFF;
  }
  ul.slicknav_hidden {
    display: none;
  }
  .toc.js-on {
    display: none;
  }
  article.book {
    max-width: 30em;
    margin: 0px auto;
    padding: 0px .1em;
  }
  article.book.js-on {
    margin-top: 4.5em;
  }
  article.chapter>header.chapter-titlepage {
    border-bottom: .15em solid #2E64FE;
  }
  article.chapter>header.chapter-titlepage>*:first-child {
    width: 100%;
    padding-bottom: .1em;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 70em) {
    .slicknav_menu {
      max-width: 18em;
      height: 100%;
      max-height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .slicknav_btn {
      display: none;
    }
  }
  @media screen and (max-width: 40em) {
    div.toc li {
      with: 100%;
      line-height: 2em;
    }
    .toc li a {
      display: block;
      width: 100%;
    }
  }
}